<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Egaugnal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="flex-row justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                Egaugnal
            </h1>
        </header>
        <main class="container-sm container-fluid mt-5 align-items-center">
            {{{ body }}}
        </main>
    </div>
</body>

</html>