<div class="d-flex h-100 justify-content-center align-items-center h-100 mt-5 login-glass">
    <div class="d-flex container justify-content-center align-items-center login-card">
        <form class="form login-form mt-3">
            <h1>If you say it enough,</h1>
            <h1 class="pb-2">it stops sounding like a foreign language.</h1>
            <div class="d-flex form-group justify-content-center">
                <label for="name-login"></label>
                <input class="form-input" type="name" id="name-login" placeholder="name" />
            </div>
            <div class="d-flex form-group justify-content-center">
                <label for="email-login"></label>
                <input class="form-input" type="text" id="email-login" placeholder="email" />
            </div>
            <div class="d-flex form-group justify-content-center">
                <label for="password-login"></label>
                <input class="form-input" type="password" id="password-login" placeholder="password" />
            </div>
            <div class="d-flex form-group justify-content-between">
                <button id="loginBtn" class="btn btn-light col-5 ml-2" role="button">Login</button>
                <button id="signupBtn" class="btn btn-light col-5 mr-2" role="button">Signup</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>
