<div class="row align-items-center">
    <div class="login-card">
        <form class="form login-form">
             <div class="form-group">
                <label for="name-login">Name:</label>
                <input class="form-input" type="name" id="name-login" />
            </div>
            <div class="form-group">
                <label for="email-login">Email:</label>
                <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
                <button id="loginBtn" type="submit">Login</button>
                <button id="signupBtn" type="submit">Signup</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>
{{!-- <script src="/js/signup.js"></script> --}}