<aside class="login-glass m-2">
    <h3 class="m-3">Egaugnal</h3>
    <div class="m-2">
        <a href="/startpage">
            <button class="btn btn-light m-1">Home</button>
        </a>
    </div>
    <div class="m-2">
        <button id="logout" class="btn btn-light m-1" type="submit">Logout</button>
    </div>
    <div class="m-2">
        <a href="/scorepage">
        <button class="btn btn-light m-1">High Scores</button>
        </a>
    </div>
</aside>




<div class="d-flex ml-3 justify-content-center align-items-center h-100 login-glass">
    <div class="d-flex container justify-content-center align-items-center">
        <form class="form language-form mt-3">
            <h2 class="slogan mx-2">Add Language:</h2>
            <div class="d-flex form-group justify-content-center user-input-container">
              <label for="tags"></label>
              <input id="tags" class="form-input w-100 mx-2" type="text" name="language" placeholder="search">
            </div>
            <div class="d-flex form-group justify-content-center mx-2">
                <button class="btn btn-light mt-2 mb-2" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/addlanguage.js"></script>