<aside class="login-glass">
    <h3 class="mt-4">Egaugnal</h3>
        <div>
        <a href="/startpage">
            <button class="btn btn-light mt-2 mb-2">Home</button>
        </a>
    </div>
    <div class="col">
        <button id="logout" class="btn btn-light mt-2 mb-2" type="submit">Logout</button>
    </div>
    <div>
        <button class="bbtn btn-light mt-2 mb-2" type="submit">High Scores</button>
    </div>
</aside>
<div>
<form autocomplete="off">
    <div class="autocomplete" style="width:300px;">
        <input id="tags" type="text" name="language" placeholder="Language">
    </div>
    <button class="bbtn btn-light mt-2 mb-2" type="submit">Submit</button>
</form>
</div>
 <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/addlanguage.js"></script>