<aside>
    <div>
    <button class="btn btn-primary" type="submit">High Scores</button>
    </div>
    <div>
    {{#if loggedIn}}
    <button id="logout" class="btn btn-primary">Logout</button>
    {{/if}}
    </div>
    <h3>Favourites</h3>
</aside>

<div class="row align-items-center">
    <div class="login-card">        
             <div class="form-group">
                <label for="language-1">Russian</label>
                <img src="" alt="">
                <label for="language-1"></label>
            </div>
            <div class="form-group">
                <label for="language-2">Spanish</label>
            </div>
            <div class="form-group">
                <label for="language-3">Hungarian</label>
            </div>

    </div>
</div>

<script src="/js/logout.js"></script>