<aside class="login-glass">
    <h3 class="mt-4">Egaugnal</h3>
    <div class="col">
        <button id="logout" class="btn btn-light mt-2 mb-2" type="submit">Logout</button>
    </div>
    <div>
        <a href="/scorepage">
        <button class="bbtn btn-light mt-2 mb-2">High Scores</button>
        </a>
    </div>
    <div>
        <a href="/languageform">
            <button class="btn btn-light mt-2 mb-2">Add language</button>
        </a>
    </div>
</aside>
<div class="h-100 m-5 login-glass">
    <div class="login-card ">
        {{#each language}}
        <div class="position-relative m-3">
            <div class="position-static">
                <a id="foreign_language" class="btn btn-light stretched-link" href="/learningpage/languageId/{{id}}/wordIndex/0" for="language-1"
                    >{{this.native}}</a>

                <img src="" alt="">

                <h4 for="language-1">native form of {{this.name}}</h>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/logout.js"></script>
