<aside class="login-glass">
    <h3 class="mt-4">Egaugnal</h3>
    <div class="col">
        <button id="logout" class="btn btn-light mt-2 mb-2" type="submit">Logout</button>
    </div>
    <div>
        <button class="bbtn btn-light mt-2 mb-2" type="submit">High Scores</button>
    </div>
    {{!-- <div>
        <button id="addLanguage" class="bbtn btn-light mt-2 mb-2" type="submit">Add Language</button>
    </div> --}}
    <div>
        <a href="/languageform">
            <button class="btn btn-light mt-2 mb-2">Add language</button>
        </a>
    </div>
</aside>
<div class="h-100 m-5 login-glass">
    <div class="login-card ">
        {{#each language}}
        <div class="form-group position-relative">
            <div class="form-group position-static">
                <a id="foreign_language" class="stretched-link" href="/learningcard/{{id}}" for="language-1"
                    style="color: white;">{{this.name}}</a>
                <img src="" alt="">

                <label for="language-1">native form of {{this.name}}</label>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/logout.js"></script>
<script src="/js/addlanguage.js"></script>