h1 {
   text-align: center; 
   font-family: 'Pacifico';
   font-size: 10vw;
   max-width: 100%; 
   color: rgb(36, 21, 11);
   text-shadow:
       1px 1px 0 white,
     -1px -1px 0 white,  
      1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
}

h2 {
   text-align: center;
   font-size: 20px;
   max-width: 100%; 
   color: white;
}

.slogan {
   max-width: 310px; 

}

h3 {
   text-align: center; 
   font-family: 'Pacifico';
   font-size: 20px;
   max-width: 100%; 
   color: white;
}

body {
   height: 100%;
   min-height: 100%;
   min-width: 50%;
   background-image: url(../egaugnal-bg.png), url(../egaugnal-bg-2.jpg);
   background-color: #000000;
   background-position-x: center;
   background-position-y: top;
   background-repeat: no-repeat, no-repeat;
   background-size: 100vw, cover;
   align-items: center;
   justify-content: center;
}

.login-glass {
   background: rgba(28, 28, 28, 0.5);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(6px);
   -webkit-backdrop-filter: blur(6px);
   border: 2px solid rgb(255, 255, 255);
   max-width: fit-content;
}

input {
   color: white;
   background-color: #1d21241c;
   border-radius: 25px;
   text-align: center;
   -webkit-text-fill-color: rgba(255, 255, 255, 0.85);
   line-height: 2rem;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.btn-light {
   color: white;
   background-color: #1d21241c;
   border: 2px solid rgb(255, 255, 255);
   border-radius: 25px;
   inline-size: max-content;
}

.btn-l {
   width: 48%;
   border-radius: 25px 0px 0px 25px;
   border-right: 1px solid rgb(255, 255, 255);
   margin-right: 0px;
}

.btn-c {
   position: absolute;
   top: 85.5%;
   right: 40%;
   border-radius: 25px;
   width: 50px;
   height: 50px;
   min-width: 50px;
   background-color: rgb(36, 21, 11);
}

.btn-r {
   width: 48%;
   border-radius: 0px 25px 25px 0px;
   border-left: 1px solid rgb(255, 255, 255);
   margin-left: 0px;
}

.btn-light:hover {
   color: #1d2124b2;
   background-color: white;
}

.card-box {
   min-width: 250px;
}

.card-btns {
   display: inline;
}

.word-on-card {
   font-size: x-large;
   font-weight: 200;
}

.native-form-of {
   align-self: center;
   margin-top: revert;
   color: white;
}

.image-container {
   width: 249px;
   height: 249px;
   min-height: 249px;
   min-width: 249px;
   object-fit: cover;
}

@media screen and (max-width: 650px) {
   body {
      background-size: 100vw, 66vh;
   }
   h2 {
      font-size: 14pt;
   }
 }

@media screen and (max-width: 775px) {
   .d-flex {
      display: block!important;
   }
   aside {
      display: flex;
      overflow: scroll;
   }
}